body {
  margin: 0 auto;
  font: 100% "Verdana", "新細明體", "Arial", "Helvetica", "sans-serif";
}
img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
}

#top-banner {
  background: none repeat scroll 0 0 #9D242B;
  height: 10px;
}

.clear {
  clear: both;
}

/* header define ============================================================================*/

#header {
  background-image: url("../img/pattern.png");
  background-color: #DDCC9B;
  color: #222222;
}

#header > div {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
}

#logo {
  float: left;
  margin-top: 15px;
}

#infobox {
  background-image: url("../img/flower.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  height: 115px;
  width: 1200px;
}
.top-info {
  color: #444444;
  float: right;
  font-family: "Verdana","新細明體","Arial","Helvetica","sans-serif";
  font-size: 14px;
  margin-top: 15px;
  padding-right: 10px;
}

#portal-searchbox {
  clear: right;
  float: right;
  font-family: arial,STHeiti,pmingliu,sans-serif ;
  font-size: 80%;
  margin: 1.2em 0;
  text-align: left;
  width: 235px;
}

#searchGadget {
  border: 1px solid #BBBBBB;
  font-family: arial,STHeiti,pmingliu,sans-serif ;
  font-size: 14px;
  height: 20px;
  width: 14em;
}

.LSBox button {
  background-color: rgba(0, 0, 0, 0);
  border: medium none;
  cursor: pointer;
  position: absolute;
}
#portal-searchbox label {
  font-weight: normal;
}

#themenu {
  background: none repeat scroll 0 0 #9D242B;
  clear: both;
  line-height: 20px;
  margin: 0 0 6px;
  max-width: 100% !important;
  height: 40px;
}

* ul, ol {
  list-style: none outside none;
}
* li {
  display: inline;
}

/* content define ============================================================================*/
#main {
  background: none repeat scroll 0 0 #FDFDF5;
  border: 1px solid #D4D0C7;
  font-size: 1em;
  margin: 5px auto 0;
  max-width: 1150px;
  padding: 0 1em 1em;
}

#main #portal-breadcrumbs {
  margin-bottom: 1.923em;
  margin-top: 1.923em;
  font-size: 80%;
  margin-left: 0.25em;
}
#portal-breadcrumbs > span {
  font-size: 0.833em;
}
#portal-breadcrumbs a, #portal-breadcrumbs span {
  color: #2C66CE;
  font-family: "open_sansregular",Arial,Helvetica,sans-serif;
  text-transform: uppercase;
}
div.row {
  display: block;
  float: left;
  position: relative;
  width: 100%;
}

#content div.documentByLine {
  color: #666666;
  display: block;
  font-size: 85%;
  min-height: 30px;
  width: 55%;
}
#go-top {
  background: url("go-top.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #777777;
  font-size: 0.9em;
  padding-left: 20px;
}

/* nav menu define ============================================================================*/

#navbar-wrapper {
  background-color: #9D242B;
  height: 40px;
  margin: 0 auto;
  width: 1165px;
}
div.row {
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
#mini-searchbox {
  display: none;
}
/* footer define============================================================================*/
#footer > div {
  margin: 2em auto;
  max-width:1200px;

}
#footer {
  border-top: 2px solid #9D242B;
  color: #333333;
  margin-top: 10px;
}

#footer a {
  color: #222222;
}

#foot-container {
  font-size: 75%;
}
#foot-container .footColumn {
  text-align: left;
  margin-right: 300px;
  float: left;
}
#foot-container .footColumn-last {
  float: right;
}
#foot-container dl {
  margin: 0 0 20px;
}

#foot-container dt {
  color: #333333;
  font-family: "open_sansbold",Arial,Helvetica,sans-serif;
  font-size: 2em;
  padding-left: 0.6em;
}

#foot-container dd {
  font-family: "open_sansregular",Arial,Helvetica,sans-serif;
  padding: 0.5em 1.2em 0;
}

#foot-container dl dd {
  margin-left: 0;
}
dt {
  font-weight: bold;
}

#foot-container.columns-4 .footColumn {
  width: 25%;
}

/* organization photo ============================================================================*/

#photo {
  margin-top: 30px;
}
#photo.visualNoMarker {
  list-style: none outside none;
  margin-left: 0;
}
#photo ul li {
  line-height: 1.5em;
  margin: 2px 1.5em 50px 0;
  padding: 0 0 0 8px;
  width: 220px;
}
#photo p {
  margin: 0;
}

