img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}
#wrapper {
  margin: 0 auto;
  width: 100%;
}
#portal-personaltools {
  display: none;
}
#portal-top > div {
    max-width: 1180px;
}
#top-banner {
  background: none repeat scroll 0 0 #9D242B;
  height: 10px;
}
.clear {
  clear: both;
}
.current {
  background: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
input[type="submit"], input[type="button"], .button, a.button:link, a.button:visited, .btn {
    background: none repeat scroll 0 0 #99774f;
    border: 1px solid #593724;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(100, 100, 100, 0.3);
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input[type="button"], input[type="submit"], .button, a.button:link, a.button:visited {
    cursor: pointer;
}
input {
    margin: 5px 5px 5px 0;
    padding: 5px;
}
.configlets > li {
    display: block;
}
#content-core {
    margin-bottom: 20px;
}
div.olMapViewport {
    border-right: 1px solid #bbb;
}
#OpenLayers_Layer_Vector_47_svgRoot {
    border: 1px solid #bbb;
}
#internallinkcontainer .list span {
    margin-left: 0.5em;
    margin-top: -0.4em;
}
.radioscrolllist .list {
    margin-top: 1em;
}
#internalpath{
    font-size: 13px;
}
/* homepage define ============================================================================*/
.s-banner {
  margin-top: 20px;
}
.tile-header {
  background: url("++theme++cckf.theme/img/icon-cloud.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding-bottom: 10px;
  padding-left: 45px;
}
div.managePortletsLink, a.managePortletsFallback {
  background: none repeat scroll 0 0 #0294AE;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 100%;
  padding: 0.45em 1.5em;
}
.galleria-image {
  margin-top: -2px;
}
#active_img {
  display: block;
  float: left;
  margin-left: 7px;
  margin-right: 15px;
  margin-top: 7px;
}
#active_header {
  margin-top: 6px;
  font-weight: bold;
}
#active_text {
  line-height: 1.8em;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.more_info {
  background: url("++theme++cckf.theme/img/icon-more.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
  font-size: 12px;
  padding-left: 18px;
}
#e427f25e4f584bdcbbd9b26fc0c1c1f3 {
  margin-top: 20px;
}
#bd3435551d1a4e80a8c043a26a08e602 {
  margin-top: 20px;
}
#f8ac16821aa24f1b8a38e28ff28ee224 {
  margin-top: 20px;
}
#ce3e0d4a7fe04b4b843e387e0fbdf1b6 {
  margin-top: 20px;
}
#a88b66a4e9284e6fb6cfbd6d5f70bb73 {
  margin-top: 20px;
}
#ceab7be45ab84e6bb8aa129be5832b99 {
  margin-top: 20px;
}
/* header define ============================================================================*/

#header {
  background-image: url("../img/pattern.png");
  background-color: #DDCC9B;
  color: #222222;
}
#header > div {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
}
#portal-logo > img {
  /*height: 100%;*/

  position: absolute;
  width: 340px;
}
#logo {
  float: left;
  margin-top: 15px;
}
#infobox {
  background-image: url("../img/flower.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  height: 115px;
  width: 1200px;
}
.top-info {
  color: #444444;
  float: right;
  font-family: "Open Sans",Arial,"微軟正黑體",sans-serif;
  font-size: 14px;
  margin-top: 15px;
  padding-right: 10px;
}
#portal-searchbox {
  clear: right;
  float: right;
  font-family: "Open Sans",Arial,"微軟正黑體",sans-serif;
  font-size: 80%;
  margin: 1.2em 0;
  text-align: left;
  width: 235px;
}
.LSBox button {
  background-color: rgba(0, 0, 0, 0);
  border: medium none;
  cursor: pointer;
  position: absolute;
}
#portal-searchbox label {
  font-weight: normal;
}
#1portal-personaltools dd {
  z-index: 9999;
}
/* nav menu define ============================================================================*/

#navbar-wrapper {
  /*background-color: #9D242B;*/
  margin-right: 10px;
  float: right;
  height: 40px;

}
#mini-searchbox {
  display: none;
}
#themenu {
  clear: both;
  float: right;
  line-height: 20px;
  height: 40px;/*width: 100% !important;*/
}
* ul, ol {
  list-style: none outside none;
}
* li {
  display: block;
}
/* right side define ============================================================================*/

#sidebar {
  font-size: 90%;
}
#sidebar h3.title {
  color: #333333;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 3px;
}
#sidebar .sideblock {
  background: url("++theme++cckf.theme/img/icon-point.png") no-repeat scroll -3px 2px transparent;
  border-bottom: 1px dotted #b6b3a7;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
}
#sidebar ul.menu {
    border-bottom: 1px solid #eee;
    margin: 0;
}
#sidebar ul.menu li a {
    background-image: url("pic/menu-bullet.png");
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom: 0 solid #fff;
    border-top: 1px solid #eee;
    display: block;
    padding: 2px 0 2px 13px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}
#sidebar ul.menu li a:hover {
    background-color:#eeeeee;
}

/* content define ============================================================================*/
#main {
  background: none repeat scroll 0 0 #FDFDF5;
  border: 1px solid #D4D0C7;
  font-size: 1em;
  margin: 5px auto 0;
  max-width: 1150px;
  padding: 0 1em 1em;
}
#main #portal-breadcrumbs {
  margin-bottom: 1.923em;
  margin-top: 1.923em;
  font-size: 80%;
  margin-left: 0.25em;
}
#portal-breadcrumbs > span {
  line-height: 1.5em;
  font-size: 12px;
}
#go-top {
  background: url("go-top.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #777777;
  font-size: 0.9em;
  padding-left: 20px;
}
.organize > img {
    width: 65%;
}
.image-inline {
  float: none;
  width: 100%;
  height: auto;
}
.tileHeadline {
  font-size: 1.2em;
  font-weight: bold;
}
.tileItem {
  border-bottom: 2px dotted #bbbbbb;
  margin-bottom: 10px;
  margin-top: 5px;
}
.event.summary {
  background-color: #ebe7de;
  display: none;
  margin: 10px;
  padding: 10px;
  width: 250px;
}
.event dt {
  color: #916d4d;
}
#content dt {
  margin-right: 10px;
}
.leadImage {
  display: none;
}
.tileFooter {
  font-size: 13px;
}
.plain {
  width: 100%;
}
#parent-fieldname-text {
  width: 100%;
}
/* footer define============================================================================*/
#portal-footer > div {
  margin: 0.8em auto;
  max-width: 1180px;
}
#portal-footer {
  font-family: "Open Sans", "微軟正黑體", sans-serif;
  border-top: 2px solid #9d242b;
  color: #333333;
  font-size: 100%;
  line-height: 1.4em;
  margin-top: 0;
  padding: 0;
}
#portal-footer a {
  color: #222222;
}
#footer-container {
  font-size: 75%;
}
#footer-container .footColumn {
  text-align: left;
  margin-right: 245px;
  margin-left: 10px;
  float: left;
}
#footer-container .footColumn-last {
  float: right;
}
#footer-container dl {
/*margin: 0 0 20px;*/
}
#footer-container dt {
  color: #333333;
  font-family: "Open Sans", "微軟正黑體", sans-serif;
  font-size: 2em;
  padding-right: 0.3em;
}
#footer-container dd {
  letter-spacing: 0.02em;
  padding: 0.1em 0 0 10px;
}
#footer-container dl dd {
  margin-left: 0;
  /*width: 300px;*/
  line-height: 1.5em;
}
.footMessage {
  margin-top: 15px;
}

.browser-info {
  clear: both;
  margin-left: 20px;
}
.suggest-info {
  color: #999;
  letter-spacing: 0.07em;
  font-size: 11px;
}
.tile-footer {
  background: url("++theme++cckf.theme/img/icon-more.png") no-repeat scroll 0 7px rgba(0, 0, 0, 0);
  font-size: 12px;
  margin-left: 8px;
  padding-left: 20px;
  float: left;
}
#portletmanager-plone-leftcolumn {
  margin-left: 30px;
  margin-bottom: 30px;
}
#portletmanager-plone-rightcolumn {
  margin-left: 30px;
  margin-bottom: 30px;
}
div.portletAssignments div.portletHeader {
  background: none repeat scroll 0 0 #fcfcf7;
  border: 1px solid #bbb;
}
.ploneSkin .mceIframeContainer {
  background-color: #fff;
}
dl.portletCalendar dt {
  background: none repeat scroll 0 0 #bbb;
  border-bottom: medium none;
  font-weight: normal;
  line-height: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.wrapping {
  display: inline-block;
  width: 80%;
}
#portletwrapper-706c6f6e652e7269676874636f6c756d6e0a636f6e746578740a2f63636b662f62756c6c6574696e0a63616c656e646172 {
  padding-left: 15px;
}
/* 董事名單 photo ============================================================================*/

#photo {
  display: inline-block;
  margin-top: 10px;
}
#e-photo {
  display: inline-block;
  margin-top: 10px;
}
#photo.visualNoMarker {
  list-style: none outside none;
  margin-left: 0;
}
#photo ul li {
  float: left;
  line-height: 1.5em;
  margin: 2px 10px 20px 0;
  padding: 0;
  width: 160px;
  height: 250px;
}
.lang-en {
  height: 300px;
}
#e-photo ul li {
  float: left;
  line-height: 1.5em;
  margin: 2px 10px 20px 0;
  padding: 0;
  width: 160px;
  height: 280px;
}
#photo ul li h4{
  margin-bottom: 6px;
}
#photo ul li p {
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 1.3em;
}
#e-photo ul li p {
  font-size: 11px;
  letter-spacing: 0.03em;
  line-height: 1em;
  margin-top: 0.5em;
}
#photo p {
  margin: 0;
}
.dataItem {
  border-bottom: 2px dotted #bbb;
  padding-top: 20px;
}
.dataItem h3 {
  color: #222;
  margin: 0;
  padding: 0;
}
.dataItem .snippet {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.snippet > p {
    line-height: 1.7em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
.topicMediaCell {
  width: 175px;
}
#attachment img {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 4px 0 #999;
  padding: 5px;
}
.documentAuthor {
  display: none;
}
.documentModified {
  display: none;
}
.documentByLine {
  color: #666;
  font-size: 13px;
}
/*  漢學資源 content block ============================================================================*/

.sinology {
  border-bottom: 0px solid #fff;
}
.sinology ul.ruled > li {
  border-top: 0 solid #e6e6e6;
}
.sinology li {
  margin-bottom: 0;
}
.sinology .r-column {
  padding: 0;
}
.r-column {
  box-sizing: border-box;
  display: block;
  float: left;
}
.sinology .head-container {
    background: url("++theme++cckf.theme/img/pattern-grey.png") repeat scroll 0 0 ;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-top: 1px;
}
.sinology ul {
    padding-top: 5px;
}
.resource-teaser td {
  vertical-align: top;
}
.resource-teaser .thumbnail {
  background: url("++theme++cckf.theme/img/icon-link.png") no-repeat scroll 2px center rgba(0, 0, 0, 0);
  display: block;
  height: 1.6em;
  margin-right: 0.5em;
  width: 16px;
}
.resource-teaser h6 {
  color: #666;

}
/*  漢學資源 setting + isotope ============================================================================*/
#sort-nav {
  cursor: pointer;
  float: left;
  line-height: 17px;
  margin-bottom: 15px;
  margin-top: 10px;
  padding-right: 10px;
  position: relative;
}
#sort-nav a.current {
  background-color: #9E242C;
  border-radius: 0;
  color: #FFFFFF;
}
#sort-nav ul {
}
#sort-nav li {
  display: inline;
}
#sort-nav ul li a {
  background-color: #dddddd;
  color: #000000;
  display: inline-block;
  font-family: "Open Sans", "微軟正黑體", sans-serif;
  font-size: 15px;
  margin-bottom: 8px;
  margin-right: 0px;
  padding: 4px 5px;
  text-decoration: none;
}
#sort-nav ul li a:hover {
  background-color: #F5F5F5;
  color: #222222;
}
#sort-nav ul li.menu a:hover {
  background-color: #f1f1ea;
  color: #FFFFFF;
}
.isotope, .isotope .isotope-item {
  transition-duration: 0.8s;
}
.isotope {
  transition-property: height, width;
}
.isotope .isotope-item {
  transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
  transition-duration: 0s;
}
#bcontent {
  margin-left: -20px;
  z-index: 0;
}
.box {
  /*border: 1px solid #DDDDDD;*/
  /*background: none repeat scroll 0 0 #FFFFFF;*/
  color: #212121;
  float: left;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: 15px;
  width: 264px;
}
.box-img {
  background-color: #FFFFFF;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  position: relative;
}
.box-img :after {
  background: url("++theme++cckf.theme/img/link-box.png") no-repeat scroll center center rgba(255, 255, 255, 0.75);
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background:rgba(0,0,0,0.5);*/
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.box-img :hover:after {
  opacity: 1;
}
.box-img img {
  width: 253px;
}
.box-date {
  color: #bbb;
  font-family: "Open Sans",Arial,"微軟正黑體",sans-serif;
  font-size: 12px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
}
.box-title {
  color: #666;
  font-family: "Open Sans",Arial,"微軟正黑體",sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.box-info {
  clear: both;
  display: block;
  background: url("++theme++cckf.theme/img/icon-link.png") no-repeat scroll 0px center rgba(0, 0, 0, 0);
  color: #222;
  font-family: "Open Sans",Arial,"微軟正黑體",sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  margin-bottom: 20px;
  height: 20px;
  letter-spacing: 0.04em;
  padding-left: 20px;
}
#album-box {
}
#album-box img {
  border: 1px solid #BBBBBB;
  width: 100%;
}
.head-line {
  background: url("++theme++cckf.theme/img/icon-cloud.png") no-repeat scroll 2px center rgba(0, 0, 0, 0);
  font-weight: bold;
  padding-left: 50px;
}
#one ol {
  margin-left: 0;
}
/*  EEA Module setting ============================================================================*/
.photoAlbumEntry img {
  border: 1px solid #ccc;
  display: block;
  margin: 0 auto;
}
.photoAlbumEntry {
  background-image: none;
  margin: 5px;
  padding: 6px;
  width: 136px;
}
.photoAlbumEntry a {
  width: 136px;
}
.photoAlbumEntryWrapper {
  background-color: #fff;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 4px 0 #cccccc;
  display: block;
  height: auto;
  margin-bottom: 7px;
  margin-right: 10px;
  padding: 5px;
  width: 130px;
}
.photoAlbumEntryTitle {
  color: #222;
  font-size: 13px;
  width: 100%;
}
#content legend {
    background: none repeat scroll 0 0 #b0a499;
    box-shadow: 3px 3px 3px 0 #ccc;
    color: #fff;
    font-size: 100%;
    padding: 0.2em 0.6em;
    text-shadow: 1px 1px 1px #555555;	
}
#faceted-form fieldset {
    background-image: url("++theme++cckf.theme/img/pattern-silver.png");
    font-size: 95%;
	margin: 0 0 1em;
}
div.listingBar {
    margin: 0 0 0 0;
}
label {
    font-weight: normal;
}
.faceted-checkbox-more a {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 #ccc;
    float: right;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: right;
}
.faceted-right-column div.faceted-text-widget input[type="submit"] {
    float: none;
    margin-top: 10px;
}
.widget-fieldset ul li input {
    margin-top: 4px;
}
.faceted-textwidget-place-all input {
    margin-right: 5px;
    margin-top: 10px;
}
.faceted-textwidget-place-current  input {
    margin-right: 5px;
    margin-top: 5px;
}
 #faceted-results >div{
    padding: 0.8em;
}
/*  漢學資源 獎助名單 ============================================================================*/
.award-region {
  background: url("++theme++cckf.theme/img/pattern-silver.png") repeat scroll 0 0 #efece5;
  border: 1px solid #fff;
  box-shadow: 1px 1px 2px 0 #bbb;
  color: #000;
  font-weight: normal;
  height: 40px;
  margin-bottom: 15px;
}
.area {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}
.dollor {
  float: right;
  font-weight: normal;
  margin-right: 10px;
  margin-top: 5px;
}
.award-catagory > h2 {
  border-bottom: 2px solid #666;
  margin-bottom: 15px;
  padding: 5px;
}
.award-project {
  border-bottom: 2px dotted #bbb;
  margin-bottom: 20px;
  padding-bottom: 20px;

  letter-spacing: 0.05em;
  font-weight: normal;
}
.award-item {
  padding-bottom: 4px;
}
.award-item h5 {
  background-color: #999;
  color: #ffffff;
  float: left;
  font-size: 15px;
  font-weight: normal;
  padding: 3px;
  text-align: center;
  width: 80px;
}
.award-content {
  float: left;
  margin-left: 20px;
  width: 700px;
}
.clearfix {
  display: block;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.pattern {
  margin-bottom: 1em;
  overflow: hidden;
}
.grid {
  margin: 0 auto;
  max-width: 76em;
  overflow: hidden;
}
.grid li {
  float: left;
  width: 100%;
}
.grid li > div {
    background: url("++theme++cckf.theme/img/pattern-silver.png") repeat scroll 0 0 #efece5;
    border: 1px solid #fff;
    box-shadow: 1px 1px 2px 0 #bbb;
    height: 57px;
    margin-bottom: 0.2em;
    margin-right: 0.7em;
    padding: 1em;
    text-align: center;
}
.grid li > div p {
    display: block;
    float: left;
    margin-right: 30px;
}
.grid li a {
  color: #fff;
}
/*  出版品 setting ============================================================================*/
.photo-container {
  position: relative;
  padding-bottom: 75.1%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}
.photo-container iframe, .photo-container object, .photo-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.map-container {
  position: relative;
  padding-bottom: 37%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  border: 6px #fff solid;
  box-shadow: 1px 1px 4px 0 #CCCCCC;
  -webkit-box-shadow: 1px 1px 4px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 4px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 4px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 4px 0 #CCCCCC;
  margin-bottom: 10px;
}
.map-container iframe, .map-container object, .map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-box {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 10px;
}
.portletStaticText.portlet-static-banner {
  margin-bottom: 1.5em;
}
#compact {
  margin-top: 10px;
}
.compactTile {
  border-bottom: 1px dashed #aaa;
  color: #666666;
  display: inline-block;
  float: left;
  font-weight: bold;
  margin: 0 20px 30px 0;
  min-height: 25px;
  padding-bottom: 5px;
  width: 258px;
}
.compact-img {
}
.compact-img img {
  width: 258px;
}
.compact-title {
  color: #222;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.08em;
}
.compact-date {
  font: 10px;
  font-weight: normal;
}
.compact-img a {
  text-decoration: none;
  display: block;
}
a span.play {
  display: none;
  background: url('++theme++cckf.theme/img/video-play.png') center center no-repeat;
  margin: -180px 10px 0 0;
  height: 180px;
  position: relative;
  z-index: 100;
  opacity: 0.8;
}
a:hover span.play {
  display: none;
}
.clear {
  clear: both;
}
.listbox {
  border-bottom: 2px dotted #bbbbbb;
  float: left;
  margin-bottom: 6px;
  padding-top: 12px;
  width: 100%;
}
.listbox .img {
  float: left;
  height: auto !important;
  margin: 0 15px 0 0;
  overflow: hidden;

}
#content ul {
  list-style-type: none;
}
.listbox ul.filelist {
  clear: none;
  float: left;
  list-style: none outside none;
  margin: 1em 0 0;
}
.listbox h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: -1.1em 0 0 114px;
  position: relative;
  top: 1.1em;
}
.listbox ul.filelist li {
  padding: 0.1em 0;
}
.listbox ul.filelist li a {
  padding-left: 38px;
}
.pdf a {
  background: url("++theme++cckf.theme/img/icon-pdf.png") no-repeat scroll 0 30% transparent;
  padding-left: 30px;
}
/*  expanding search bar setting ============================================================================*/
#portal-languageselector {
  float: right;
  margin-top: 12px;
}
#portal-languageselector li {
  margin-left: 20px;
  margin-top: 5px;
}
.cck-container {
  position: relative;
  width: 100%;
}
.cck-inner {
  padding: 0px 20px;
  position: relative;
  max-width: 1243px;
  margin: 0 auto;
}
.cck-header {
  background: #0099cc;
  position: relative;
  z-index: 999;
  padding: 30px 0;
}
.cck-header-items-right {
  float: right;
  width: 200px;
}
.cck-search {
  background: url("++theme++cckf.theme/img/search-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  position: relative;
  float: right;
  width: 34px;
  height: 34px;
  margin: 16px 0 0 0;
  z-index: 100000;
}
.cck-search-input-wrap {
  position: absolute;
  right: 34px;
  height: 34px;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 200ms;
  -moz-transition: width 200ms;
  transition: width 200ms;
}
.cck-search.cck-search-open .cck-search-input-wrap {
  width: 240px;
}
.cck-icon-search, input[type="submit"].cck-search-submit {
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
}
.cck-icon-search {
  color: #9d242b;
  z-index: 90;
}
.cck-search.cck-search-open .cck-icon-search {
  background: #9d242b;
  color: #fff;
  z-index: 1;
  pointer-events: none;
}
input[type="submit"].cck-search-submit {
  background: url("++theme++cckf.theme/img/search-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  /*background: transparent;*/
  color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  border-radius: 0;
  outline: none;
  z-index: -1;
}
.cck-search.cck-search-open input[type="submit"].cck-search-submit {
  z-index: 90;
}
input[type="text"].cck-search-input {
  border: none;
  outline: none;
  opacity: 0;
  background: #fff;
  width: 265px;
  height: 34px;
  margin: 0;
  padding: 2px 7px;
}
.cck-search.cck-search-open input[type="text"].cck-search-input {
  opacity: 1;
}

::-webkit-input-placeholder {
 color: #666;
}
:-moz-placeholder {
 color: #666;
}
::-moz-placeholder {
 color: #666;
}
:-ms-input-placeholder {
 color: #666;
}
/* Dexterity Content Types */
#content label.fieldHead {
  display: inline-block;
  color: #9d242b;
  font-weight: normal;
  text-align: left;
  padding-right: 10px;
  margin: 3px;
  width: 80px;
}
.forText {
  display: none;
}
/*  擴展搜尋bar setting ============================================================================*/

.ct-container {
  position: relative;
  width: 100%;
}
.ct-inner {
  padding: 0px 20px;
  position: relative;
  max-width: 1243px;
  margin: 0 auto;
}
.ct-header {
  background: #0099cc;
  position: relative;
  z-index: 999;
  padding: 30px 0;
}
.ct-header-items-right {
  float: right;
  width: 320px;
}
.ct-search {
  background: url("++theme++cckf.theme/img/search-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  z-index: 9999;
  cursor: pointer;
}
.ct-search-input-wrap {
  position: absolute;
  right: 0px;
  height: 30px;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 200ms;
  -moz-transition: width 200ms;
  transition: width 200ms;
}
.ct-search.ct-search-open .ct-search-input-wrap {
  width: 230px;
}
.ct-icon-search, input[type="submit"].ct-search-submit {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}
.ct-icon-search {
  color: #bb9157;
  z-index: 90;
}
.ct-search.ct-search-open .ct-icon-search {
  background: url("++theme++cckf.theme/img/search-icon-a.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-color: #bb9157;
  color: #fff;
  z-index: 1;
  pointer-events: none;
}
input[type="submit"].ct-search-submit {
  background: transparent;
  color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  border-radius: 0;
  outline: none;
  z-index: -1;
}
.ct-search.ct-search-open input[type="submit"].ct-search-submit {
  z-index: 90;
}
input[type="text"].ct-search-input {
  border: none;
  outline: none;
  opacity: 0;
  background: #eee;
  width: 230px;
  height: 30px;
  font-size: 15px;
  margin: 0;
  padding-left: 5px;/*padding: 2px 7px;*/
}
.ct-search.ct-search-open input[type="text"].ct-search-input {
  opacity: 1;
}
::-webkit-input-placeholder {
 font-size: 13px;
 letter-spacing: 0.05em;
 color: #888;
}
:-moz-placeholder {
 font-size: 13px;
 letter-spacing: 0.05em;
 color: #888;
}
::-moz-placeholder {
 font-size: 13px;
 letter-spacing: 0.05em;
 color: #888;
}
:-ms-input-placeholder {
 font-size: 13px;
 letter-spacing: 0.05em;
 color: #888;
}
.ploneCalendar td.today {
  background-color: #bb9157;
  border-color: #fff;
  color: #fff;
}
.portletCalendar dt {
  margin-left: 12px;
  background-color: #bb9157;
  color: #fff;
}
.portletCalendar dd {
  margin-left: 12px;
}
.ploneCalendar td {
  border: 1px solid #fff;
}
/* homepage news and activate define ============================================================================*/

.row {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  position: relative;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.topspace {
  margin-top: 0px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.span-1-3 {
  width: 50%;
}
.span-2-3 {
  width: 50%;
}
.news-column {
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 1em 1.6em;
}
.head-container {
  position: relative;
}
.new-teaser {
  min-height: 3.75em;
  position: relative;
}
.new-teaser h4 {
  font-family: "Open Sans",Arial,"微軟正黑體",sans-serif;
  font-weight: normal;
}
.new-teaser td {
  vertical-align: top;
}
.new-teaser .title {
  margin: 0 0 0.28em;
}
.new-teaser .author {
  font-size: 0.875em;
  color: #666;
}
.new-teaser .thumbnail {
  background: url("++theme++cckf.theme/img/icon-lead.jpg") no-repeat scroll 0 0 / 3.75em 3.75em transparent;
  display: block;
  height: 3.75em;
  margin-right: 1.375em;
  width: 3.75em;
}
h1.small, h2.small, h3.small, h4.small, h5.small {
  background: url("++theme++cckf.theme/img/icon-cloud.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #222;
  font-size: 1em;
  font-weight: 600;
  margin: 0.3em 0;
  padding-bottom: 1px;
  padding-left: 45px;
  padding-top: 3px;
  letter-spacing: 0em;
}

.small {
  font-size: 13px;
}
.text-right {
  text-align: right;
}
.topright {
  right: 0;
  top: 0;
}
.topleft, .topright, .bottomleft, .bottomright {
  margin: 0;
  position: absolute;
  width: 100%;
}
a.disclosure {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRv%0AYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0%0AdHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0%2BDTwhRE9DVFlQ%0ARSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3Jn%0AL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI%2BDTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2Ul%0AMjAxIiB2aWV3Qm94PSIwIDAgMjcgMTQiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYw%0AMCIgdmVyc2lvbj0iMS4xIg0JeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxu%0Aczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2%0AZSINCXg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjdweCIgaGVpZ2h0PSIxNHB4Ig0%2BDQk8ZyBpZD0i%0ATGF5ZXIlMjAxIj4NCQk8cGF0aCBkPSJNIDExIDIgTCAxNiA3IEwgMTEgMTIgIiBzdHJva2U9IiM3%0ANjc2NzYiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIvPg0JPC9nPg08L3N2Zz4%3D%0A") no-repeat scroll right 40% transparent;
  color: #444;
  display: inline-block;
  padding-right: 2em;
  margin-right: 5px;
  margin-top: 5px;
  text-decoration: none;
}
hr {
  background-color: #d7d3cd;
  border: medium none;
  height: 1px;
  padding: 0;
}
ul {
  list-style: outside none none;
  margin: 1em 0;
  padding: 0;
}
ul > li {
  margin: 0;
  padding: 0;
}
ul.ruled > li {
  border-top: 1px solid #e6e6e6;
  margin: 0;
  padding: 0.75em 0;
}
ul.ruled > li:first-child {
  border: medium none;
  padding-top: 0;
}
.background-darker ul.ruled > li, .background-darkest ul.ruled > li {
  border-color: #fff;
}
ul.links {
  margin-top: 0;
}
ul.links > li {
  padding: 0;
}
ul.links > li > a {
  background-size: 1.8em 0.9333em;
  color: #3f3f3f;
  display: block;
  padding: 0.8em 1em 0.8em 0;
  position: relative;
  text-decoration: none;
}
ul.links-hilite > li > a {
  padding-left: 0.4em;
}
ul.links-hilite > li > a:hover {
  background-color: rgba(255%, 255%, 255%, 0.5);
}
ul.links > li > a {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRv%0AYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0%0AdHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0%2BDTwhRE9DVFlQ%0ARSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3Jn%0AL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI%2BDTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2Ul%0AMjAxIiB2aWV3Qm94PSIwIDAgMjcgMTQiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYw%0AMCIgdmVyc2lvbj0iMS4xIg0JeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxu%0Aczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2%0AZSINCXg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjdweCIgaGVpZ2h0PSIxNHB4Ig0%2BDQk8ZyBpZD0i%0ATGF5ZXIlMjAxIj4NCQk8cGF0aCBkPSJNIDExIDIgTCAxNiA3IEwgMTEgMTIgIiBzdHJva2U9IiM3%0ANjc2NzYiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIvPg0JPC9nPg08L3N2Zz4%3D%0A") no-repeat scroll right 47% transparent;
}
ul.links.no-arrows > li > a {
  background-image: none;
  border-bottom: 1px dotted #ccc;
}
ul.links > li > a > .summary {
  margin: 0;
}
ul.links > li > a > .detail {
  font-size: 0.875em;
  color: #666;
}
ul.links > li > a > .disclosure {
  font-weight: 600;
  height: 1em;
  line-height: 1em;
  margin-top: -0.5em;
  position: absolute;
  right: 1.6875em;
  top: 50%;
}
ul.links > li.alt > a {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRv%0AYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0%0AdHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0%2BDTwhRE9DVFlQ%0ARSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3Jn%0AL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI%2BDTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2Ul%0AMjAxIiB2aWV3Qm94PSIwIDAgMjcgMTQiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYw%0AMCIgdmVyc2lvbj0iMS4xIg0JeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxu%0Aczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2%0AZSINCXg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjdweCIgaGVpZ2h0PSIxNHB4Ig0%2BDQk8ZyBpZD0i%0ATGF5ZXIlMjAxIj4NCQk8cGF0aCBkPSJNIDExIDIgTCAxNiA3IEwgMTEgMTIgIiBzdHJva2U9IiMw%0AMGI5ZTEiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIvPg0JPC9nPg08L3N2Zz4%3D%0A") no-repeat scroll right 47% transparent;
  color: #07c5f2;
}
/* apply block define ============================================================================*/
.apply-box {
    margin-left: 14px;
}
div#apply {
    background-color: #fff;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 210px auto;
    border: 5px solid transparent;
    clear: both;
    color: #333;

    font-size: 12px;
    line-height: 130%;
    margin: 12px 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 100%px;
}

div#apply.orange {
    background-color: #bb8f62;
    background-position: center 3px;
    border-color: #bb8f62;
}
div#apply > a.top {
    color: #fff;
    display: block;
    font-size: 18px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    width: 100%;
}
div#apply > a.top:hover {
    text-decoration: none;
}

div#apply > ul {
    background-color: #fffffa;
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 10px;
}
div#apply > ul > li {
    display: block;
    margin: 0 !important;
    padding: 3px 0 10px;
}
div#apply > ul > li > a {
    cursor: pointer;
    display: block;
    text-decoration: none;
}
div#apply > ul > li > a > div {
    color: #666;
    float: none;
}

.post-tag {
    color: #e91c17;
    display: inline-block;
    font-size: 12px;
    padding-right: 6px;
    text-decoration: none;
}
#apply-container {
    text-align: center;
}
.apply-button {
    background: none repeat scroll 0 0 #aa3425;
    border: 1px solid #81281d;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(100, 100, 100, 0.3);
    color: #fff;
    display: inline-block;
    font-size: 26px;
    padding: 15px 5px;
    text-align: center;
    vertical-align: middle;
    width: 80%;
}
#apply-container a{
    color: #fff;
}
#apply-container a:link a:visited {
    color: #fff;
}

#apply-container a:hover {
    color: yellow;
}
/* homepage theme block define ============================================================================*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
  -webkit-overflow-scrolling: touch;
}

strong {
  font-weight: bold;
}
.theme-container {
  clear: both;
  width: 100%;
  max-width: 72rem; /* 1024 */
  line-height: 1.375rem; /* 22 */
  margin: 0 auto;

}
.container, .container a {
  color: #cfd7db;
}
.container a:hover {
  color: #fff;
}
.theme-title {

  background-color: #19243c;
  height: 35px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.05em;
  padding-top: 5px;
  padding-left: 10px;
}
.list {
  width: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.list__item {
  width: 25%;
  float: left;
  padding: 0.4rem; /* 10 */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.list__item__inner {
  width: 100%;
  color: #474d51;
  overflow: hidden;
}
.list__item img {
  width: 100%;
  height: 100%;
  display: block;
}
.list__item figcaption {
  font-size: 13px;
  padding-top: 0.5em;
}

.img-block{
  background-color: #FFFFFF;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
}
.img-block :after {
  background: url("++theme++cckf.theme/img/link-box.png") no-repeat scroll center center rgba(255, 255, 255, 0.75);
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background:rgba(0,0,0,0.5);*/
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;

}
.img-block :hover:after {
  opacity: 1;
}


/* JavaScript disabled */

html.no-js .list__item {
  width: 100%;
  float: none;
}
html.no-js .list__item img {
  max-width: 9.375rem; /* 150 */
  float: right;
  margin-left: 1.25rem; /* 20 */
}
 @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex ) {
 html.no-js .list__item {
 width: 25%;
 float: left;
}
 html.no-js .list__item img {
 max-width: none;
 float: none;
 margin-left: 0;
}
}
.footer {
  text-align: center;
  margin: 2.5rem 0.625rem 0; /* 40 10 */
}
.footer a {
  border-bottom: 1px solid #cfd7db;
}



@media screen and ( max-width: 50em ) /* 800 */ {
.list__item {
  width: 33.333%; /* 3 items per row */
}
 @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex ) {
 html.no-js .list__item {
 width: 33.333%;
}
}
}

@media screen and ( max-width: 40em ) /* 640 */ {
.list__item {
  width: 50%; /* 2 items per row */
}
 @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex ) {
 html.no-js .list__item {
 width: 50%;
}
}
}

@media screen and ( max-width: 29.9999em ) /* <480 */ {
.list__item {
  width: 100%; /* 1 item per row */
  float: none;
}
 @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex ) {
 html.no-js .list__item {
 width: 100%;
}
}
html.no-js .list__item img {
  max-width: none;
  float: none;
  margin-left: 0;
}
}
/* end of homepage theme block define ============================================================================*/

.blog-post {

    margin-bottom: 40px;
}
.four.columns.alpha {
    border: 6px solid #fff;
    box-shadow: 1px 1px 4px 0 #cccccc;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    margin-right: 40px;
    width: 300px;
	height: 250px;
}
.six.columns.omega {
    display: inline;
    float: left;
    width: 500px;
}


.clear, .clr {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

/* right porlet expand menu  ============================================================================*/

.expandmenu{
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  margin: 50px auto;

}

.menu-item {
  width: 100%;
}

/*Menu Header Styles*/
.menu-item .expand {
  background: url("++theme++cckf.theme/img/downArrow.png") no-repeat scroll 99% 6px rgba(0, 0, 0, 0);
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px 7px 4px;
}
.menu-item .expand:hover {
  background: url("++theme++cckf.theme/img/downArrow-2.png") no-repeat scroll 99% 6px rgba(0, 0, 0, 0);
}

.menu-item .expand a {
  color: white;
  display: block;
  text-decoration: none;
  width: 100%;
}

.menu-item h4 {
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px 7px 4px;
}
.menu-item h4:hover {

}

.menu-item h4 a {
  color: white;
  display: block;
  text-decoration: none;
  width: 100%;
}

/*ul Styles*/
.menu-item ul {
  background: #fffffa;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;

  /*Animation*/
  -webkit-transition: height 1.2s ease;
     -moz-transition: height 1.2s ease;
       -o-transition: height 1.2s ease;
      -ms-transition: height 1.2s ease;
          transition: height 1.2s ease;
}

.menu-item:hover ul {
  height: 160px;
}

.menu-item ul a {
    background: url("++theme++cckf.theme/img/icon-point.png") no-repeat scroll 3px 5px transparent;
    display: block;
    font-size: 13px;
    margin-left: 2px;
    padding-left: 18px;
    padding-top: 6px;
    text-decoration: none;
    width: 100%;
}

/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
}

.menu-item li:hover {
  background: #eee;
}

/*First Item Styles*/
.alpha p {
	padding: 8px 12px;
	color: #aaa;
}

.alpha p a {
	color: #aaa;
	font-style: italic;
}

.alpha p a:hover {
	color: #ccc;
}
