/* @group Portlets */

dl.portlet {
  margin: 0 0 1em;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
dl.portletError {
  background-color: #FFA500;
}

dl.portlet dt {
  background: url("++theme++cckf.theme/img/icon-cloud.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-position: 2px;
  color: #444;
  padding: 0.42em 1em 0.42em 2.6em;
  font-size: 16px;
  letter-spacing: 0.07em;
 /* background-image: url("++theme++cckf.theme/img/pattern.jpg");*/
  /*background: #ddd;*/
  line-height: normal;
}
dl.portlet dt.hiddenStructure {
  padding: 0;
}

dl.portlet dt a:link,
dl.portlet dt a:visited,
dl.portlet dt a:hover {
  color: #222;
  display: block;
  border: none;
}

dl.portlet dd.portletItem,
dl.portlet dd.portletFooter,
dl.portletError dd {
  padding: 0.5em 0 0.5em 1em;
  font-size: 15px;
  letter-spacing: 0.05em;
}

.blockedPortlet .portletHeader {
  border: 1px dashed #ddd;
  margin: -1px;
  background: none !important;
}

.blockedPortlet .portletHeader a {
  color: #666;
}

.blockedPortlet .portletBlockedMessage {
  color: white;
  display: inline;
}

.portletItemDetails {
border-bottom: 1px dotted #bbb;
    color: #888;
  font-size: 85%;
  padding-top: .5em;
  padding-bottom: .5em;
  line-height: 1.5em;
  margin-left: 0em;
  display: block;
}

#portlet-prefs a {
  border: none;
  line-height: 2em;
}

/* @end */

/* @group Navigation portlet */

dl.portlet ul.navTree li a {
  border: none;
  display: block;
  zoom: 1;
}

dl.portlet ul.navTree li a:hover {

}

dl.portletNavigationTree dd.portletItem {
  padding: 0;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem {
  padding: 0.25em 1em;
  border-bottom: 0.1em dotted #ddd;
  line-height: 2em;
}

dl.portlet ul.navTreeLevel1 .navTreeItem {
  padding-left: 0.5em;
  line-height: 2em;
}

dl.portlet ul.navTree .navTreeCurrentItem {
  /*background-color: #ddd;
  border-left: 1em solid #ddd;*/
  font-weight: bold;
  /* margin-left: -1em;
  margin-right: -1em;*/
}

/* @end */

/* @group Calendar portlet */

.portletCalendar {
  margin: 1px 0 1em 0;
}

.portletCalendar dt {
  background-color: #eee;
  font-weight: bold;
  text-align: center;
  line-height: 1.6em;
  border-bottom: none;
}

#visual-portal-wrapper dl.portletCalendar dd {
  padding: 0;
}

.portletCalendar dd {
  margin: 0;
  padding: 0;
}

.portletCalendar dt a#calendar-previous {
  float: left;
  padding: 0 1em;
  margin: 0 -.5em;
}

.portletCalendar dt a#calendar-next {
  float: right;
  padding: 0 1em;
  margin: 0 -.5em;
}

.portletCalendar a, .portletCalendar a:focus,
.portletCalendar a, .portletCalendar a:hover,
.ploneCalendar a {
  text-decoration: none;
  border-bottom: none !important;
}

.ploneCalendar {
  border-spacing: 0;
  width:100%;
}

.ploneCalendar td {
  background-color: transparent;
  width: 14%;
  text-align: center;
  padding: 2px;
}

.ploneCalendar .weekdays th {
  background-color: #eee;
  text-align: center;
  padding: 2px;
}

.ploneCalendar .event {
  background-color: #eee;
}

.ploneCalendar .todayevent {
  background-color: #eee;
  border: 2px solid #205C90;
}

.ploneCalendar .todaynoevent {
  border: 2px solid #205C90;
}

/* @end */
