.section div.managePortletsLink, a.managePortletsFallback {
  display: none;
}
.section-index_html #portal-columns {
  background: none;
  border: 0;
  padding: 0;
}
.section-index_html #themenu, .section-index_html #content {
  margin: 0;
}

.section-index_html .collection-item {
  background-color: #FDFDF5;
  font-size: 70%;
  margin-left: 0;
  padding: 8px 8px 0;
}

.section-index_html #content .tile-edge {
  background-color: #FDFDF5;
  border: 1px solid #CCCCCC;
  height: 250px !important;
  border-radius: 0px;
}
.section-index_html #content .collection-item p {
  margin-bottom: 0;
  color: #888;
  font-size: 13px;
}

.section-index_html .galleria-container {
  background-color: #FDFDF5;
  border: 1px solid #C3C3C0;
  height: 385px !important;
}
.section-index_html .galleria-image {
  height: 335px !important;
}
.section-index_html #portal-breadcrumbs {
  display: none;
}

/* disable Lead Image display */
.section-about .leadImage,
.section-publication .leadImage {
  display: none;
}

/* Faceted View */
.subsection-search #c1_widget,
.subsection-search span.documentByLine {
  display: none !important;
}
.subsection-search #right-area,
.subsection-search #left-area {
  width: 24.5% !important;
}
.subsection-search .left-area-js {
  margin-left: 17em !important;
}
.subsection-search .right-area-js {
  margin-right: 17em !important;
}
.subsection-search input#c6 {
  width: 80% !important;
}
.subsection-search #faceted-form {
    padding-top: 0;
}

.icons-on #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-acl_users #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-about #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-structure #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-publication #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-programs #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-xp #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-grants #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-camps #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-ccklib #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-sino #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-activities #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-events #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-news #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}
.section-contact #banner {
  background-image: url("++theme++cckf.theme/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 170px;
}

.section-domestic dt.portletHeader{
  background: url("++theme++cckf.theme/img/icon-point.png") no-repeat scroll 2px center rgba(0, 0, 0, 0);
  color: #444;
  font-size: 16px;
  letter-spacing: 0.07em;
  line-height: normal;
  padding: 0.42em 1em 0.42em 2.6em;
}

.section-programs #content-core ul,
.section-sino #content-core ul {
  list-style-type: disc;
  margin-left: 0.3em;
}

.section-sino #category {
  margin-left: 0;
}

/* Prev Next Listing Bar */
.portaltype-collection .list-next,
.portaltype-collection .list-previous {
  display: none !important;
}

/* EEA Current Search Widget */
.section-resource #c3_widget {
  display: none !important;
}
