.section-index_html #portal-columns {
  background: none;
  border: 0;
  padding: 0;
}
.section-index_html #themenu, .section-index_html #content {
  margin: 0;
}

.section-index_html .collection-item {
  background-color: #FDFDF5;
  font-size: 70%;
  margin-left: 0;
  padding: 8px 8px 0;
}

.section-index_html #content .tile-edge {
  background-color: #FDFDF5;
  border: 1px solid #CCCCCC;
  height: 250px !important;
  border-radius: 0px;
}
.section-index_html #content .collection-item p {
  margin-bottom: 0;
  color: #888;
  font-size: 13px;
}

.section-index_html .galleria-container {
  background-color: #FDFDF5;
  border: 1px solid #C3C3C0;
  height: 385px !important;
}
.section-index_html .galleria-image {
  height: 335px !important;
}
.section-index_html #portal-breadcrumbs {
  display: none;
}

/* disable Lead Image display */
.section-about .leadImage,
.section-publication .leadImage {
  display: none;
}

/* Faceted View */
.subsection-facet #c1_widget,
.subsection-facet span.documentByLine {
  display: none !important;
}
.subsection-facet #right-area,
.subsection-facet #left-area {
  width: 22% !important;
}
.subsection-facet .left-area-js {
  margin-left: 17em !important;
}
.subsection-facet .right-area-js {
  margin-right: 17em !important;
}
.subsection-facet input#c6 {
  width: 80% !important;
}
.section-about #banner {
  background-image: url("http://140.109.160.133:8091/++theme++cckf.theme/img/banner-resource.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 300px;
}
.section-program #banner {
  background-image: url("http://140.109.160.133:8091/++theme++cckf.theme/img/banner-resource.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 300px;
}
.section-news #banner {
  background-image: url("http://140.109.160.133:8091/++theme++cckf.theme/img/banner-resource.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 300px;
}
.section-contact #banner {
  background-image: url("http://140.109.160.133:8091/++theme++cckf.theme/img/banner-resource.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 300px;
}